<a href="https://colab.research.google.com/github/Vasishta218/python0081/blob/main/1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#fruit
fruit=['apple','orange','grape','watermelon','mango']
print(fruit[0:5])
print(fruit[0])
print(fruit[1])
print(fruit[2])
print(fruit[3])
print(fruit[4])
print(fruit[-1])
print(fruit[-2])
print(fruit[-3])
print(fruit[-4])
print(fruit[-5])

['apple', 'orange', 'grape', 'watermelon', 'mango']
apple
orange
grape
watermelon
mango
mango
watermelon
grape
orange
apple

In [ ]:
num=['1','2','3','4','5','6']
print(num[2:5])
print(num[4:5])
print(num[1:5])
print(num[1:4])
print(num[3:6])

['3', '4', '5']
['5']
['2', '3', '4', '5']
['2', '3', '4']
['4', '5', '6']

In [ ]:
fruit=['apple','banana','cherry']
print(fruit)
fruit.append('apple')
print(fruit)
fruit.insert(-2,'mango')
print(fruit)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'apple']
['apple', 'banana', 'mango', 'cherry', 'apple']

In [ ]:
name=['suresh','ramesh','chandu']
print(name)
name.append('ramesh')
name.insert(-1,'vasishta')
print(name)
(name.reverse())
print(name)
name.pop(3)
print(name)
b=name.copy()
print(b)
print(len(name))
name.extend('kirl')
print(name)
print(len(name))

['suresh', 'ramesh', 'chandu']
['suresh', 'ramesh', 'chandu', 'vasishta', 'ramesh']
['ramesh', 'vasishta', 'chandu', 'ramesh', 'suresh']
['ramesh', 'vasishta', 'chandu', 'suresh']
['ramesh', 'vasishta', 'chandu', 'suresh']
4
['ramesh', 'vasishta', 'chandu', 'suresh', 'k', 'i', 'r', 'l']
8

In [ ]:
fruit=['pine apple','mango','bananna']
fruit.insert(1,'vasishta')
print(fruit)

['pine apple', 'vasishta', 'mango', 'bananna']

In [1]:
num=['1','2','3','4','5','6']
print(num[2:5])
print(num[4:5])
print(num[1:5])
print(num[1:4])

['3', '4', '5']
['5']
['2', '3', '4', '5']
['2', '3', '4']

In [2]:
num=['1','2','3','4','5','6']
print(num[2:5])
print(num[4:5])
print(num[1:5])
print(num[1:4])

['3', '4', '5']
['5']
['2', '3', '4', '5']
['2', '3', '4']

In [3]:
name=['suresh','ramesh','chandu']
print(name)
name.append('ramh')
name.insert(-1,'vsishta')
print(name)
(name.reverse())
print(name)
name.pop(3)
print(name)
b=name.copy()
print(b)
print(len(name))
name.extend('kirl')
print(name)
print(len(name))

['suresh', 'ramesh', 'chandu']
['suresh', 'ramesh', 'chandu', 'vsishta', 'ramh']
['ramh', 'vsishta', 'chandu', 'ramesh', 'suresh']
['ramh', 'vsishta', 'chandu', 'suresh']
['ramh', 'vsishta', 'chandu', 'suresh']
4
['ramh', 'vsishta', 'chandu', 'suresh', 'k', 'i', 'r', 'l']
8

In [4]:
name=['suresh','ramsh','chandu']
print(name)
name.append('rameh')
name.insert(-1,'vasishta')
print(name)
(name.reverse())
print(name)
name.pop(3)
print(name)
b=name.copy()
print(b)
print(len(name))
name.extend('kirl')
print(name)
print(len(name))

['suresh', 'ramsh', 'chandu']
['suresh', 'ramsh', 'chandu', 'vasishta', 'rameh']
['rameh', 'vasishta', 'chandu', 'ramsh', 'suresh']
['rameh', 'vasishta', 'chandu', 'suresh']
['rameh', 'vasishta', 'chandu', 'suresh']
4
['rameh', 'vasishta', 'chandu', 'suresh', 'k', 'i', 'r', 'l']
8