<a href="https://colab.research.google.com/github/Vasishta218/python0081/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas

mydataset = {
  'cars': ["BMW", "Volvo", "Ford"], 
  'passings': [7, 9, 2]
}

myvar = pandas.DataFrame(mydataset)

print(myvar)

    cars  passings
0    BMW         7
1  Volvo         9
2   Ford         2

In [3]:
import pandas as pd

print(pd.__version__)

1.3.5

In [5]:
import pandas as pd 

a = [1, 8, 3]

myvar = pd.Series(a)

print(myvar)

0    1
1    8
2    3
dtype: int64

In [7]:
import pandas as pd 

a = [1, 8, 2]

myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar)

x    1
y    8
z    2
dtype: int64

In [8]:
import pandas as pd 

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories)

print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [11]:
import pandas as pd 

calories = {"day1": 42, "day2": 380, "day3": 390}

myvar = pd.Series(calories, index = ["day1", "day2"])

print(myvar)

day1     42
day2    380
dtype: int64

In [12]:
import pandas as pd 

data = {
  "calories": [420, 380, 390],
  "duration": [50, 79, 45]
}

myvar = pd.DataFrame(data)

print(myvar)

   calories  duration
0       420        50
1       380        79
2       390        45

In [13]:
import pandas as pd 

data = {
  "calories": [40, 80, 30],
  "duration": [5, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df)

   calories  duration
0        40         5
1        80        40
2        30        45

In [14]:
#use a list of indexes:
print(df.loc[[0, 1]])

   calories  duration
0        40         5
1        80        40

In [15]:
import pandas as pd 

data = {
  "calories": [42, 38, 90],
  "duration": [0, 0, 45]
}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])

print(df)

      calories  duration
day1        42         0
day2        38         0
day3        90        45

In [16]:
#refer to the named index:
print(df.loc["day2"])

calories    38
duration     0
Name: day2, dtype: int64