<a href="https://colab.research.google.com/github/Vasishta218/python0081/blob/main/strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#adress using string
a="""i am vasishta,coming from east point colony by car,
persuing my btech in gitam university,
visakhapatnam"""
print(a)
print(len(a))

i am vasishta,coming from east point colony by car,
persuing my btech in gitam university,
visakhapatnam
104

In [6]:
#check1
a="""i am vasishta,coming from east point colony by car,
persuing my btech in gitam university,
visakhapatnam"""
print("vasishta" in a)

True

In [10]:
#check2
a="""i am vasishta,coming from east point colony by car,
persuing my btech in gitam university,
visakhapatnam"""
print("vasishta" in a)
print("prashu baby" in a)

True
False

In [11]:
#check if not
a="""i am vasishta,coming from east point colony by car,
persuing my btech in gitam university,
visakhapatnam"""
print("vasishta" not in a)
print("madhav" not in a)

False
True

In [15]:
#check if not 2
a="""i am vasishta,coming from east point colony by car,
persuing my btech in gitam university,
visakhapatnam"""
print("vasishta" not in a)
print("madhav" not in a)

if "madhav" not in a:
  print("madhav is not present")

False
True
madhav is not present

In [32]:
#slicing 
b="i went to rrr movie"
print(len(b))
print(b[0:19])
print(b[0:6])
print(b[4:16])
print(b[3:17])
print(b[4:16],b[3:15])

print(b[:])

19
i went to rrr movie
i went
nt to rrr mo
ent to rrr mov
nt to rrr mo ent to rrr m
i went to rrr movie

In [40]:
#modifying string
a="i went to rrr movie,yesterday"
print(a[0:1].upper())
print(a[5:7].lower())

I
t

In [43]:
#modifying string
a=" i went to rrr movie,yesterday "
print(a.strip())
print(a.replace("rrr","ntr"))

i went to rrr movie,yesterday
 i went to ntr movie,yesterday

In [52]:
#adding 2 strings
a="i went to rrr movie"
b=",yesterday"
c=a+b
print(c)

i went to rrr movie,yesterday

In [53]:
#adding 2 strings
a="i went to rrr movie"
b=",yesterday"
c=a+""+b
print(c)

i went to rrr movie,yesterday

In [58]:
#format string
a="18"
b="i am vasishta,my age is "+ a
print(b)

i am vasishta,my age is 18

In [59]:
#format string
a="18"
b="i am vasishta,my age is {}"
print(b.format(a))

i am vasishta,my age is 18

In [63]:
#format string
quantity=3
items=4
rate=50
a="quatity-{},items-{},rate-{}"
print(a.format(quantity,items,rate))

quatity-3,items-4,rate-50

In [72]:
#special characters
a="hello \" world \" gjhhjg"
print(a)

hello " world " gjhhjg

In [73]:
#special characters
a="hello \n world"
print(a)

hello
 world