In [2]:
import pandas

mydataset = {
  'cricket': ["ms dhoni", "Virat", "vasishta"],
  'passings': [100, 0, 200]
}

myvar = pandas.DataFrame(mydataset)

print(myvar)

    cricket  passings
0  ms dhoni       100
1     Virat         0
2  vasishta       200

In [5]:
import pandas as pd

df= pd.read_csv("E:\\vasi.csv")

print(df.to_string())

       cricket  passings
0  0  ms dhoni       100
1  1     Virat         0
2  2  vasishta       200

In [3]:
import pandas as pf

mydataset = {
  'cricket': ["ms dhoni", "Virat", "vasishta"],
  'passings': [100, 0, 200]
}

myvar = pf.DataFrame(mydataset)

print(myvar)

    cricket  passings
0  ms dhoni       100
1     Virat         0
2  vasishta       200

In [7]:
import pandas as friendsdata

data = {
  'friends name': ["rohith  pal", "prashanth", "vasishta"],
  'friends gender':["female","female","male"],  
  'passings': [.5, .5, 100]
}

myvar = pandas.DataFrame(data)

print(myvar)

  friends name friends gender  passings
0  rohith  pal         female       0.5
1    prashanth         female       0.5
2     vasishta           male     100.0

In [8]:
import pandas as pd

abc = [10, 77, 52]

myvar = pd.Series(abc)

print(myvar)

0    10
1    77
2    52
dtype: int64

In [13]:
import pandas as pd

exercise = {"day1":22, "day2":4567, "day3":71234}

myvar = pd.Series(exercise)

print(myvar)

day1       22
day2     4567
day3    71234
dtype: int64

In [20]:
import pandas as pd

cricket = {"day1": "upper body", "day2": "lower body", "day3": "conditioning","day4":"rest day","day5":"crossfit","day6":"lower body","day7":"rest day"}

myvar = pd.Series(cricket, index = ["day1","day2","day3","day4","day5","day6","day7"])


print(myvar)

day1      upper body
day2      lower body
day3    conditioning
day4        rest day
day5        crossfit
day6      lower body
day7        rest day
dtype: object

In [23]:
import pandas as pd

data = {
  "calories": [42, 38, 39],
  "duration": [0, 0, 5]
}

myvar = pd.DataFrame(data)
print(myvar)

   calories  duration
0        42         0
1        38         0
2        39         5